*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + .5rem);
}

button {
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    display: block;
}

.main__container {
    background-color: black;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-inline: auto;
    margin-top: 10rem;
    padding: 1rem;
    border-radius: 20px;
}

.main__input {
    background-color: #ccc;
    font-size: 2.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 100px;
    margin-bottom: 1.5rem;
}

.main__btn-container {
    display: flex;
    background-color: #ff9913;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 5px;
}

.main__btn {
    font-size: 2rem;
    background-color: #fff;
    padding: 1.9rem;
    border-radius: 1000px;
    flex: 1;
}

.main__btn-last {
    background-color: #ccc;
}
